@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-hidden::-webkit-scrollbar {
    display: none;
}

.scroll-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 9999;
    width: auto;
    height: auto;
    transition: transform 0.1s;
}

body {
    font-family: 'Inter', sans-serif;
    cursor: none;
}

.custom-border-gradient {
    border: 0.6px solid transparent;
}

@media (min-width: 1024px) {

    .custom-border-gradient:hover {
        border-top-color: rgba(255, 255, 255, 0.041);
        border-right-color: rgba(255, 255, 255, 0.015);
        border-bottom-color: rgba(46, 46, 46, 0.205);
        border-left-color: rgba(255, 255, 255, 0.015);
    }
}

.hover-opacity-others:hover .child {
    opacity: 0.4;
    transition: opacity 0.3s ease;
}

.hover-opacity-others:hover .child:hover {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.child {
    transition: opacity 0.3s ease;
}

.custom-underline {
    position: relative;
    display: inline-block;
}

.custom-underline::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background-color: #ffffff00;
    transition: height 0.3s, background-color 0.3s;
}

.custom-underline:hover::after {
    height: 1px;
    background-color: #ffffff46;
}

html {
    font-size: 17px;
}


a,
button,
input,
textarea,
select,
[role="button"] {
    cursor: none !important;
}